:root{
    --blanco: #ffffff;
    --negro: #000000;
    --rojo: #ff0000;
    --gris: #757575;
    --amarillo: #FFC107;
}

*:before, *:after {
    box-sizing: border-box;
}
/*Globales*/
html{
    font-size: 68.5%;
}



body{
    font-size: 16px;
    margin: 0;
    min-height: 100%;
    background-image: linear-gradient(to top, #f8f7cd 0%, white 100%);
}

a{
    text-decoration: none;
    color: var(--negro);
    margin: 0 1rem;
}

li{
    list-style: none;
}

h2{
    text-align: center;
}


.texto-centrado{
    text-align: center;
}


.contenedor{
    margin: 0 auto;
    max-width: 1200px;
}

.zoom{
    transition: transform .5s;
}

.zoom:hover{
    transform: scale(1.2);

}

.txt-brillo{  
    color: var(--blanco);  
    transition: all 0.8s;  
}

.txt-brillo:hover{
    color: var(--rojo);
    text-shadow: 0rem 0rem 5rem,
                 0rem 0rem 10rem,
                 0rem 0rem 15rem;
}

/*Header*/
.header{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.header a{
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo-principal{
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 0;
}
/*Navegacion motos*/



.logo-navegacion{
    width: 4rem;
    height:4rem;
    border-radius: 50%;
}
@media (min-width:768px) {
    .logo-navegacion{
        width: 8rem;
        height:8rem;
    }
}

.navegacion{
    
    display: flex;
    justify-content: center;
}



/*Galeria*/

.slider{
    width: 90%;
    height: 40rem;
    margin: auto;
    overflow: hidden;
}

@media (min-width:768px) {
    .slider{
        width: 95%;
        height: auto;
        margin: auto;
    }
    }

.slider ul{
    padding: 0;
    display: flex;
    width: 600%;
    animation: cambio 40s infinite;
}

.slider li{
    width: 100%;
}

.slider img{
    width: 100%;
    height: 60rem;
}

@keyframes cambio{
    0% { margin-left: 0;}
    10% {margin-left: 0;}

    18%{margin-left: -100%;}
    26%{margin-left: -100%;}

    34%{margin-left: -200%;}
    42%{margin-left: -200%;}

    50%{margin-left: -300%;}
    58%{margin-left: -300%;}

    66%{margin-left: -400%;}
    74%{margin-left: -400%;}

    82%{margin-left: -500%;}
    90%{margin-left: -500%;}
}

/*Destacados*/

.slider-manual{
    width: 50%;
    height: 30rem;
    margin: auto;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media (max-width:768px) {
    .slider-manual{
        height: 18rem;   
    }

    
}

.slider-manual img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.7s;
    box-shadow: 0 0 0 1.5rem var(--negro);           
}



.slider-manual input[type="radio"]{
    display: none;
}

.slider-manual input[type="radio"]:checked ~ img{
    opacity: 1;
}

.slider-manual input[type="radio"] + label{
    display: none;
    position: relative;
    z-index: 50;
    margin: 1rem;
    display: block;
    width: 2rem;
    height: 2rem;
    background: var(--blanco);
    border-radius: 50%;
    border: 0.2rem solid var(--negro);
    cursor: pointer;
}

.slider-manual input[type="radio"]:checked + label{
    background: var(--negro);
    border: 0.2rem solid var(--blanco);
}

/*Footer*/

.footer{
    background-color: var(--negro);
    padding: 4rem;
    display: flex;
    justify-content: space-between;
}

@media (max-width:768px) {
    .footer{
        display: flex;
        font-size: 0.5rem;
        padding-top: 2rem;
        padding-bottom: 0;
        width: 90%;
    }
    .footer a{
        font-size: 0.8rem;
    }
    .logo svg {
        width: 2rem;
    }
}

.footer a{
    color: var(--blanco);
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/*Nosotros*/
.contenedor-main{
    width: min(90%, 120rem);
    margin: 0 auto;
}

.sobre-nosotros img{
    max-width: 100%;
}

@media (min-width: 768px) {
    .sobre-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .sobre-nosotros img{
        max-width: 100%;
    }
 
}



