/*Footer*/

.footer{
    background-color: $negro;
    padding: 2rem;
    display: flex;
    justify-content: space-between;

    @media (max-width:768px) {
        .footer{
            display: flex;
            font-size: 0.5rem;
            padding-top: 2rem;
            padding-bottom: 0;
            width: 100%;

            a{
                font-size: 0.8rem;
            }

            svg {
                width: 2rem;
            }
        } 
    }

    a{
        color: $blanco;
    }

    .logo{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
}