/*Header*/

.header {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;

    @media (min-width: 768px) {
      .header {
        padding-bottom: 2rem;
      }
    }
  
    a {
      width: 30rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .logo-principal {
      width: 10rem;
      height: 10rem;
      position: absolute;
      left: 0;
    }
    
    @media (max-width: 768px){
      .logo-principal{
        width: 7rem;
        height: 7rem;
      }
    }


  }