/*Header*/

.header {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  
    a {
      width: 30rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .logo-principal {
      width: 10rem;
      height: 10rem;
      position: absolute;
      left: 0;
    }
  }