/*Productoss*/

.productos{
    margin-top: 3rem;
    margin-bottom: 8rem;
    margin: 0 auto;

    img{
        vertical-align: middle;
    }

    .img-responsive{
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    h3{
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: -0.5rem;
        margin-bottom: 4rem;
    }
}

/*Motos*/





.container-fluid{

    .header-moto{
        background-size: cover;
        background-position: 50% 50%;       
    }
    
    .titulo-moto{
        color: $blanco;
        text-align: center;
        padding: 21%;
    }

    .texto-section{
        background-color: $gris-moto;
        height: 100%;

        .separador{
            background-image: url("/img/husqvarna-motorcycles-pricing-top.svg");
            background-repeat: no-repeat;
            width: 100%;
            height: 1rem;
            background-position: center;
            margin: 0 auto;

        }

        h2, p{
            color: $azul !important;
        }
    }
}


/*Background header motos*/
/*Yamaha*/

.yz85 {
    @extend .header-moto;
    background: url("/yamaha/yz85/header.jpg") no-repeat center fixed;  
}


/*Honda*/

.crf450r{
    @extend .header-moto;
    background: url("/honda/crf450R/header.jpg") no-repeat center fixed;   
}

/*ktm*/

.ktm350sx-f{
    @extend .header-moto;
    background: url("/ktm/350sx-f/header.jpg") no-repeat center fixed; 
}

/*Kawazaki*/

.kx450x{
    @extend .header-moto;
    background: url("/kawazaki/kx450x/header.jpeg") no-repeat center fixed;         
}

/*Husqvarna*/

.te-300i{
    @extend .header-moto;
    background: url("/husqvarna/te-300i/header.jpg") no-repeat center fixed;
}
