/*Galeria slider motos*/

.slider{
    width: 90%;
    margin: auto;
    overflow: hidden;

        ul{
            padding: 0;
            display: flex;
            width: 600%;
            animation: cambio 40s infinite;
        }

        li{
            width: 100%;
        }

        img{
            width: 100%;
            height: 100%;
        }

        @keyframes cambio{
            0% { margin-left: 0;}
            10% {margin-left: 0;}
        
            18%{margin-left: -100%;}
            26%{margin-left: -100%;}
        
            34%{margin-left: -200%;}
            42%{margin-left: -200%;}
        
            50%{margin-left: -300%;}
            58%{margin-left: -300%;}
        
            66%{margin-left: -400%;}
            74%{margin-left: -400%;}
        
            82%{margin-left: -500%;}
            90%{margin-left: -500%;}
        }
}
